/* Reset et base */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "Inter", sans-serif;
  display: block;
  background: #0e0e0e;
}

/* HEADER */
header {
  width: 100%;
  position: relative;
  z-index: 1000;
  position: sticky;
  z-index: 1000;
  top: 0;
  padding: 13.5px 0;
  background-color: #0e0e0e;
  border-bottom: 2px solid #b2b2b212;
}

.container {
  max-width: 1216px;
  width: 100%;
  margin: auto;
}
.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

/*---- LOGO ---- */
.logo {
  margin: auto 0;
  width: 144.84px;
  height: 54px;
}
.logo .logo-img {
  width: 100%;
  height: 100%;
}

/* ---- NAVIGATION ----*/

.navbar .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  list-style: none;
  height: 100%;
}

.navbar .nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  position: relative;
  white-space: nowrap;
}

/* Icon`s traitement */
.icon-arrow {
  width: 20px;
  height: 20px;
}
.icon-flag {
  display: block;
  margin: auto 0;
  width: 21px;
  height: 15px;
}
.icon-pointer {
  width: 19px;
  height: 17px;
}
/* ---- Hover NAV ----*/
.navbar .nav-link:hover {
  color: #f5b400;
}
.flag-selector--btn-contact {
  display: flex;
  gap: 20px;
}
.flag-selector--btn-contact .submenu {
  margin-top: 5px;
}
.navbar .link-icon:hover .icon-arrow,
.flag-selector:hover .icon-arrow,
.flag-selector--btn-contact:hover .icon-arrow {
  content: url("images/flèche_jaune.svg");
  cursor: pointer;
}
.navbar .link-icon:hover .nav-link {
  color: #f5b400;
}
.link-icon,
.flag-selector {
  display: flex;
  color: white;
}

/* ---- CONTACT BOTTON ----*/
.contact-botton-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 28px;
  background: #f5b400;
  color: #1c1a1a;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 20px;
  white-space: nowrap;
  font-family: "Inter", sans-serif;
}

.contact-botton-link:hover {
  background: #f7d371;
}

.has-submenu {
  position: relative;
}

.submenu {
  position: absolute;

  max-height: 0;
  overflow: hidden;
  opacity: 0;

  top: 100%;
  margin-top: 25px;
  background-color: #000000;
  list-style: none;
  border-radius: 8px;

  transition: 0.5s all ease;
}
.submenu ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 20px 30px 20px 20px;
}
.submenu li {
  gap: 11.5px;
  white-space: nowrap;
}

/* For submenu-columns*/
.submenu-columns {
  display: flex;
  justify-content: space-between;
}
.submenu-columns ul {
  list-style: none;
  white-space: nowrap;
}

.submenu-columns ul li {
  display: flex;
  align-items: center;
}

.submenu-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
}

.submenu-columns li img {
  width: 40px;
  height: 40px;
  border-radius: 2px;
}
.submenu-columns .first-column {
  padding-right: 20px;
  border-right: 0.6px solid #2d2d2d;
}

/* Survol général */
.submenu-columns a:hover {
  color: #f5b400;
}
.navbar .has-submenu:hover .submenu,
.navbar .has-submenu .submenu:hover {
  max-height: 1000px;
  opacity: 1;
  overflow: visible;
}

.has-submenu:hover .icon-arrow {
  transform: rotate(180deg);
  transition: 0.3s ease;
}

/* Hover couleur */
.has-submenu .submenu li:hover,
.has-submenu .submenu li a:hover {
  color: #f5b400;
  cursor: pointer;
}

/* Supprimer le marker du parent */
li .has-submenu::marker {
  display: none;
  padding: 0;
  margin: 0;
}

.navbar__mobile {
  display: none;
}

.burger-menu {
  display: none;
}

/*=============MAIN==============*/
.section-container {
  text-align: center;
  margin: 100px auto;
}

.hero-section__hero-content {
  max-width: 1197px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.hero-section__hero-content__brand__logo {
  width: 156px;
  height: 25px;
}

.hero-section__hero-content__title {
  max-width: 1050px;
  width: 100%;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 100px;
  margin: 0 auto;
  line-height: 1.2;
  letter-spacing: -2px;
}

.linear-gradient {
  background: linear-gradient(90deg, #f5b400 4.81%, #ffffff 100%);
  background-clip: text;
  color: transparent;
}

.hero-section__hero-content__description {
  max-width: 779px;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin: 0 auto;
}

.hero-section__hero-content__description__chenocom {
  font-weight: 700;
}

.hero-section__hero-content__description__get-in-touch {
  font-weight: 700;
  color: #ffd400;
  text-decoration: none;
}

@keyframes floatUpandDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.badge {
  display: flex;
  align-content: center;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  white-space: nowrap;
  position: absolute;
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  gap: 8px;
  animation: floatUpandDown 2s ease-in-out infinite;
  z-index: 87;
}

.badge1 {
  background-color: #ff9a26;
  top: -1%;
  left: 20%;
}
.badge2 {
  background-color: #ffde6a;
  top: 1%;
  right: 16%;
  tranform: rotate(-180deg);
  animation-delay: 0.5s;
}
.badge3 {
  background-color: #ff8c78;
  bottom: 2%;
  left: 0;
  animation-delay: 1s;
  bottom: -12%;
}
.badge4 {
  background-color: #d9d9d9;
  bottom: 0;
  right: 0;
  animation-delay: 1.5s;
  bottom: -14%;
}

.badge10 {
  /* code  */
}
/* =============== hero-content project-caroussel ================ */

.swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
  object-fit: cover;
  object-position: top;
}

.swiper-slide img:hover {
  cursor: pointer;
}

.hero-section__project-carousel {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.hero-section__project-carousel .swiper {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.hero-section__project-carousel .swiper-slide {
  max-width: 561px;
  height: 446px;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet {
  width: 18px;
  height: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 1;
  transition: 0.5s all ease;
}

.swiper-pagination {
  position: static;
  width: 100%;
}

.swiper-pagination-bullet-active {
  width: 72px;
  height: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

/* ------------ CLIENTS SECTION  */
.clients-section__description {
  font-family: "Inter", sans-serif;
  color: #cbcbcb;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: center;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-250px * 9));
  }
}

.clients-section__logos {
  overflow: hidden;
  margin-top: 33px;
  white-space: nowrap;
}

.clients-section__logos__slide {
  display: inline-block;
  animation: 30s scroll infinite linear;
}

.clients-section__logos:hover .clients-section__logos__slide,
.slogon-section:hover .slogon-section__list {
  animation-play-state: paused;
}

.clients-section__logos img {
  width: 110px;
  margin-right: 24px;
}

/* ---------------STATISTIC SECTION */
.statistic-section {
  position: relative;
}
.statistic-section__description {
  color: #ffffff;
}
.statistic-section__description__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 56px;
  text-align: left;
  max-width: 920px;
  margin-bottom: 92px;
}
.badge-about-us {
  background-color: #b3fd9d;
  top: 34%;
  right: 29%;
}
.statistic-section__description__body {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.statistic-section__description__body__right {
  max-width: 729px;
  text-align: left;
  color: rgb(255, 255, 255, 0.7);
}
.statistic-section__description__body__right__yellow {
  color: #ffd400;
  font-weight: 700;
  text-align: left;
}
.statistic-section__description__body__left {
  margin-top: auto;
  display: flex;
  gap: 12px;
  font-weight: 700;
}
.statistic-section__values {
  color: white;
  display: flex;
  justify-content: space-between;
}
.statistic-section__value {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.statistic-section__value span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 146px;
  margin: 0;
  padding: 0;
}
.statistic-section__value p {
  text-align: left;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.7);
}
/* --------- SLOGON SECTION ------------ */
@keyframes slogonscroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.slogon-section {
  overflow: hidden;
  display: flex;
  gap: 35px;
}

.slogon-section__list {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  font-size: 121.11px;
  text-transform: uppercase;
  white-space: nowrap;
  animation: 15s slogonscroll infinite linear;
  display: inline-block;
}
.slogon-section__white {
  letter-spacing: 6px;
  color: transparent;
  -webkit-text-stroke: 2.2px white;
}
.slogon-section__yellow {
  color: #f5b400;
}
/* ------------ EXPERTISES SECTION ----------------*/
.expertises {
  color: white;
  text-align: left;
}
.expertises__part1 {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 60px;
}
.expertises__intro {
  font-family: "Poppins", sans-serif;
  max-width: 560px;
  text-align: left;
  min-width: 270px;
}
.expertises__why-chenocom {
  color: #ddd7d7;
  max-width: 560px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-align: left;
  margin-left: 90px;
}
.expertises__why-chenocom__yellow {
  color: #ffd400;
  font-weight: 700;
  font-size: 24px;
  margin-left: 70px;
}
.badge-our-specialities {
  background-color: #ff9a26;
  position: absolute;
  bottom: -15%;
  left: 25%;
}
.numero {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 57.25px;
  position: absolute;
  top: 9%;
  right: 7%;
}
.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 30px;
  text-align: left;
  max-width: 394px;
  margin-bottom: 18px;
  line-height: 39px;
}
.description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  color: rgb(255, 255, 255, 0.8);
  max-width: 505px;
  line-height: 31px;
}
.expertises__part2 {
  display: flex;
  gap: 22.41px;
  max-height: 294px;
  margin-bottom: 24px;
}
.expertises__website {
  position: relative;
  overflow: hidden;
  flex: 2;
  padding: 5% 6.02% 6% 4%;
  position: relative;
}

.expertises__website::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: 50% 22%;
  opacity: 0.2;
  border-radius: 20px;
  z-index: 0;
}

.expertises__website > * {
  position: relative;
  z-index: 1;
}
.expertises__website .numero {
  position: absolute;
  top: 15%;
  right: 4%;
}
.expertises__website .title {
  max-width: 411px;
}
.expertises__website .description {
  line-height: 26px;
  max-width: 689px;
}
.expertises__logo {
  flex: 1;
}
.expertises__part3 {
  display: flex;
  gap: 20px;
  margin-bottom: 39px;
}
.expertises__mobile,
.expertises__digitale,
.expertises__website {
  flex: 1;
  padding: 3% 4.1% 3% 4%;
  background-color: #151515;
  position: relative;
  border-radius: 20px;
}
.swiper-mobile {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}
.expertises__stats {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.expertises__presentation {
  display: flex;
  gap: 1.4%;
  color: #1c1a1a;
}

.thumbnail {
  position: relative;
  flex: 2; /* 67% proportion (2/3) */
  max-width: 67%;
}

.expertises__presentation__stats {
  display: flex;
  flex-direction: column;
  text-align: left;
  background: #f5b400;
  border-radius: 29.48px;
  flex: 1;
  position: relative;
  max-width: 32.1%;
}
.expertises__presentation__stats__first {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12.9px;
  line-height: 14.74px;
  position: absolute;
  top: 8%;
  left: 8%;
  opacity: 0.7;
  text-transform: uppercase;
}
.expertises__presentation__stats__second {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 92.41px;
  position: absolute;
  top: 62%;
  left: 8%;
  line-height: 0;
}
.expertises__presentation__stats__third {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24.48px;
  line-height: 33.16px;
  max-width: 317px;
  position: absolute;
  left: 8%;
  bottom: 10%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: transparent;
  padding: 0;
  border-radius: 20px;
  width: 90%;
  max-width: 800px;
  position: relative;
}

.close {
  position: absolute;
  top: 2%;
  right: 3%;
  color: rgb(127, 122, 122);
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}
#openPopup {
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
}
.thumbnail {
  position: relative;
}
.play-button {
  position: absolute;
  top: 40%;
  left: 45%;
  width: 60px;
  height: 60px;
  color: white;
  border-radius: 44.22px;
  background: #0b0b0b33;
  border: transparent;
}
/* ------------------- PROJECTS SHOWCASE -------------------- */

.projects-showcase__intro {
  position: relative;
  padding-bottom: 100px;
}

.projects-showcase__intro__slogon {
  max-width: 1050px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 66px;
  line-height: 81px;
  letter-spacing: 1px;
  text-align: center;
  color: white;
  margin: auto;
}
.badge-our-projects {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  background: #ff8c78;
  color: #1c1a1a;
  left: 0%;
  bottom: 16%;
}
.badge-websites {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #1c1a1a;
  background: #ffffff;
  right: 0%;
  bottom: 0%;
}
.projects-showcase__slides {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.projects-showcase__slides__slide {
  display: flex;
  flex-direction: column;
  gap: 31px;
  text-align: left;
  margin-top: 60px;
}

.projects-showcase__slides__slid:hover {
  cursor: pointer;
}

.projects-showcase__slides__slide .affiche {
  position: relative;
  transition: box-shadow 0.3s ease;
}
.projects-showcase__slides__slide .affiche .background {
  border-radius: 20px;
  transition: transform 0.5s ease;
}
.projects-showcase__slides__slide .affiche .image-style {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.projects-showcase__slides__slide .title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 42px;
  letter-spacing: -4%;
  color: white;
  white-space: nowrap;
  margin: 0;
  transform: color 0.3s ease;
}

.projects-showcase__slides__slide:hover .affiche,
.insights__body__slide:hover .insights__body__slide__image {
  box-shadow: 0 0 0 4px rgba(112, 112, 112, 0.8);
}

.projects-showcase__slides__slide:hover .background {
  transform: scale(1.05);
}

.projects-showcase__slides__slide:hover .title,
.insights__body__slide:hover .insights__body__slide__title {
  color: #f5b400;
}
.projects-showcase__slides__slide__service-tags {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}
.tag {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 15px;
  background: #262627;
  border-radius: 4px;
  padding: 10px 12px;
}
.view-more {
  color: #ffd400;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 28.24px;
  text-align: right;
  line-height: 0;
  margin-top: 132px;
}

.play-button:hover {
  cursor: pointer;
}

.bottom .profile-icon img:hover,
.insights__body__slide img {
  cursor: pointer;
}

.left-testimonial-sub-container img:hover {
  cursor: pointer;
}

.view-more span:hover {
  cursor: pointer;
}

/* ----------------SERVICES------------- */
.services__intro {
  display: flex;
  justify-content: space-between;
  color: white;
  text-align: left;
  position: relative;
}
.services__intro__description {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 31.96px;
  max-width: 560px;
  opacity: 1;
}
.services__intro__description .opacity-phrase {
  opacity: 0.8;
  font-weight: 400;
}
.services__intro__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 43px;
  line-height: 48.27px;
  letter-spacing: -1.13px;
  max-width: 537px;
  margin-left: 151px;
  order: 1;
}
.badge-our-technologies {
  background-color: #b3fd9d;
  position: absolute;
  left: 43%;
  bottom: -31%;
  z-index: -1;
}
.services__techniques {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 1219px;
}
.services__techniques-wrapper {
  overflow: hidden; /* after you may change it to scroll */
  width: 100%;
}
.services__techniques-wrapper::-webkit-scrollbar {
  display: none;
}
.services__techniques__technique {
  background-color: black;
  border-radius: 20px;
  border: 1px solid #202020;
  width: 24%;
  padding: 39px 0;
}
.services__techniques__technique:hover {
  background-color: #202020;
  cursor: pointer;
}

/* -----------TESTIMONIALS------------ */

/* .testimonials {
  color: white;
}

.testimonials__body {
  border: 1px solid GREEN;
}

.testimonial-author__photo {
  max-width: 64.67px;
  max-height: 67px;
}

.badge-testimonial {
  background-color: #f16a6a;
  top: -3%;
  right: 39%;
}
.testimonials__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 66px;
  line-height: 77px;
  letter-spacing: -4%;
  color: white;
  text-align: left;
  margin-bottom: 70px;
}

.testimonial-slide {
  border: 1px solid red;
  position: relative;
  padding: 40px 50px 0 50px;
}

.testimonial-quote {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  right: 0;
  margin-bottom: 94px;
  margin-top: 90px;
  margin-inline: 0;
  font-size: 24px;
  line-height: 31.96px;
  color: white;
  text-align: left;
}
.testimonial-author {
  display: flex;
  color: white;
  margin-bottom: 40px;
  margin-inline: auto;
  border: 1px solid red;
}
.testimonial-author__photo {
  margin-right: 12px;

}
.testimonial-author__properties {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.testimonial-author__properties__name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: white;
  white-space: nowrap;
}
.testimonial-author__properties__title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  opacity: 0.5;
  color: white;
  white-space: nowrap;
} */

/* ================================================================================================== */

/*
==================
CSS RESET
==================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background: #0e0e0e;
  --white-clr: #fff; /* this is just a CSS local variable, for code readability purposes */
}

/*
==================
TESTIMONIAL STYLES
==================
*/

.testimonials-section {
  padding: 100px 111px;
}

.testimonial-container {
  max-width: 1216px;
  height: 605px;
  position: relative;
}

.testimonial-heading-container {
  width: 752px;
  height: 123px;
  margin-right: 510px;
  position: relative;
}

.testimonial-heading {
  width: 752px;
  height: 123px;
}

.linear-gradient {
  background: linear-gradient(90deg, #f5b400 4.81%, var(--white-clr) 100%);
  background-clip: text;
  color: transparent;
}

@keyframes floatUpandDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.badge-- {
  display: flex;
  align-content: center;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  white-space: nowrap;
  position: absolute;
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  gap: 8px;
  animation: floatUpandDown 2s ease-in-out infinite;
  z-index: -1;
}

.badge6 {
  top: 0;
  right: 0;
  background: #f16a6a;
  z-index: 2;
}

.badge6 img,
.badge2 img,
.badge-about-us img,
.badge-websites img,
.badge-websites img,
.badge-our-blogs img {
  transform: rotate(-180deg);
}

.badge1 img {
  transform: rotate(90deg);
}

.badge4 img,
.badge-our-specialities img {
  transform: rotate(-90deg);
}

.badge6 span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
}

.testimonial-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 66px;
  line-height: 77px;
  letter-spacing: -4%;
  color: var(--white-clr);
  text-align: left;
  position: absolute;
  bottom: 0;
}

.testimonial-heading h2 span {
  font-weight: 700;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
}

.testimonial-sub-container {
  display: flex;
  position: absolute;
  bottom: 0;
}

.left-testimonial-sub-container {
  margin-right: 20px;
}

.right-testimonial-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #202020;
  border-radius: 14px;
}

.top {
  margin-top: 40px;
  margin-inline: 50px;
}

.testimonial-quote {
  margin-right: 0;
  margin-top: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: var(--white-clr); /* here we're calling the CSS variable*/
}

.bottom {
  display: flex;

  height: 60px;
  margin-inline: 50px;
  margin-bottom: 40px;
}

.profile-icon img {
  margin-right: 12px;
  width: 65px;
}

.author-name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: var(--white-clr);
  white-space: nowrap;
}

.swiper:hover {
  cursor: pointer;
}

.author-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  opacity: 0.5;
  color: var(--white-clr);
  white-space: nowrap;
}

/* ========================================================================================== */

/* ---------------INSIGHTS------------- */
.insights-container {
  text-align: center;
  margin: 116px auto;
  max-width: 1240px;
}
.insights__intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 63px;
  margin-bottom: 70px;
  position: relative;
}
.insights__intro__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 56px;
  line-height: 64px;
  color: var(--white-clr);
}
.insights__intro__view-all-articles {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 28.24px;
  line-height: 40px;
  text-align: right;
  color: #ffd400;
}
.badge-our-blogs {
  background-color: #9de0fd;
  top: -50%;
  right: 40%;
}
.insights__body {
  display: flex;
  gap: 40px;
}
.insights__body__slide {
  display: block;
  text-align: left;
}

.insights__body__slide__image {
  width: 385px;
  height: 217px;
  border-radius: 20px;
  transition: box-shadow 0.3s ease;
}

.insights__body__slide__tags-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;
  margin-bottom: 24px;
  max-width: 385px;
}
.insights__body__slide__tags {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}
.insights__body__slide__time {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  color: #ffffffb2;
  opacity: 0.7;
}
.insights__body__slide__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  color: var(--white-clr);
  margin-bottom: 1px;
  transform: color 0.3s ease;
}
.insights__body__slide__description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  opacity: 0.7;
  color: var(--white-clr);
}
/* ------------PRE-FOOTER----------- */
.pre-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1292px;
  margin: 55px auto;
}

.pre-footer__container__social-media img:hover {
  cursor: pointer;
  opacity: 0.8;
  animation: floatUpandDown 4s ease;
}

.pre-footer__container__social-media {
  display: flex;
  justify-content: space-between;
  gap: 26px;
  margin-right: 73px;
}

.gradient-line {
  height: 1px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(245, 180, 0, 0.4) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

/* -----------FOOTER------------ */
footer {
  max-width: 1292px;
  width: 100%;
  margin: auto;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.footer__column {
  margin-top: 90px;
  margin-bottom: 120.8px;
}
.footer__column ul li,
.footer__column li a {
  list-style: none;
  color: var(--white-clr);
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 51px;
}
.footer__column__title {
  color: #f5b400;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 25px;
}

.newsletter-form {
  border: 1px solid #2f2f2f;
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.newsletter-form__email {
  color: #ffffff66;
  background-color: #131313;
  border: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 51px;
  padding-left: 20px;
  width: 74%;
}

.newsletter-form__send {
  height: 100%;
  width: 100px;
  background-color: #f5b400;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: black;
  text-decoration: none;
  line-height: 51px;
  text-align: center;
  border-radius: 4px;
  padding: 0 20px;
  border: 0;
}

.newsletter-form__send:hover {
  cursor: pointer;
  background-color: #f7d371;
}

.footer__bottom__desktop {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: capitalize;
  color: var(--white-clr);
  padding: 30px 0;
  border-top: 2px solid #b2b2b212;
}
.footer__bottom__mobile {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}
/*======== RESPONSIVE VERSION ========*/
@media (max-width: 1288px) {
  .container {
    padding: 0 30px;
  }

  .navbar .nav-menu .nav-link {
    font-size: 14px;
  }
  .submenu ul {
    padding: 20px 30px;
  }
  .submenu-link {
    font-weight: 300;
    font-size: 12px;
  }
  .contact-botton-link {
    font-size: 16px;
    width: 194px;
    height: 53px;
    padding: 13px 12px;
  }
  .submenu-columns ul li img {
    width: 30px;
    height: 30px;
  }
  .hero-section__hero-content__title {
    font-weight: 500;
    font-size: 46px;
  }
  .hero-section__hero-content__brand__logo {
    width: 90px;
    height: 16px;
  }
  .statistic-section__description__body {
    font-size: 20px;
    display: flex;
  }
  .statistic-section__description__body__right {
    max-width: 500px;
    order: 2;
  }
  .statistic-section__description__body__left {
    font-weight: 600;
    margin-right: 20px;
    white-space: nowrap;
    order: 1;
  }
  .statistic-section__value span {
    font-weight: 300;
    font-size: 100px;
  }
  .statistic-section__value p {
    font-weight: 300;
    font-size: 18px;
  }
  .badge-about-us {
    background-color: #b3fd9d;
    top: 40%;
    right: 10%;
  }
  /* ------------Expertises Section-------------- */
  .expertises__part2 {
    max-height: 194px;
  }
  .expertises__logo {
    width: 291px;
    height: 194px;
  }
  .expertises__logo img {
    width: 100%;
    height: 100%;
  }
  .numero {
    font-weight: 400;
    font-size: 30.25px;
    margin-left: 1%;
  }
  .title {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 5px;
    line-height: 35px;
    max-width: 270px;
  }
  .expertises__website .description {
    line-height: 21px;
  }
  .description {
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
  }
  /* ----------PRESENTATION-------- */
  .expertises__presentation__stats__first {
    font-weight: 300;
    font-size: 10.9px;
  }
  .expertises__presentation__stats__second {
    font-weight: 300;
    font-size: 52.41px;
    top: 67%;
  }
  .expertises__presentation__stats__third {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    max-width: 230px;
  }
  /* -----------------SHOWCASE PROJECTS-------------------- */
  .projects-showcase__slides {
    flex-wrap: nowrap;
    gap: 10px;
    overflow: scroll;
  }
  .projects-showcase__slides::-webkit-scrollbar {
    display: none;
  }
  .projects-showcase__slides__slide {
    gap: 14px;
  }
  .projects-showcase__slides__slide .title {
    font-weight: 500;
    font-size: 20px;
  }
  .tag {
    font-weight: 600;
    font-size: 6px;
    padding: 4.51px 5.42px;
  }
  .projects-showcase__slides__slide .affiche .background {
    width: 270px;
    height: 304px;
    border-radius: 9.03px;
  }
  .view-more {
    font-size: 16px;
    margin-top: 40px;
    text-align: center;
  }
  .services__intro__title {
    font-weight: 600;
    font-size: 26px;
    line-height: 28.27px;
    margin-left: 20px;
  }
  .badge-our-technologies {
    bottom: -33.7%;
    left: 50%;
    z-index: -1;
  }
  .services__techniques {
    gap: 5px;
  }
  .services__techniques__technique {
    padding: 30px 0;
  }
  .insights__body {
    overflow: scroll;
  }
  .insights__body::-webkit-scrollbar {
    display: none;
  }
  .insights__intro__title {
    font-size: 38px;
  }
  .insights__intro__view-all-articles {
    font-size: 18.24px;
  }
  .pre-footer__container {
    padding: 0 15px;
  }
  footer {
    padding: 0 15px;
  }

  .footer__column__title {
    font-size: 15px;
  }

  .footer__column ul li,
  .footer__column li a {
    font-size: 11px;
    line-height: 230%;
  }
}
@media (max-width: 992px) {
  .navbar {
    display: none;
  }
  .contact-botton-link {
    display: none;
  }

  .badge {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
  }
  .navbar__mobile {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .navbar__mobile .nav-menu {
    background: #2d2d2d;
    width: 100vw;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    list-style: none;
    padding: 20px 0 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  .navbar__mobile .nav-menu.active {
    max-height: 1000px;
    overflow: visible;
    opacity: 1;
  }

  .has-submenu .submenu {
    position: static;
    background: none;
    margin-top: 0;
  }

  .navbar__mobile .has-submenu.has-submenu--active .submenu {
    max-height: 1000px;
    opacity: 1;
    overflow: visible;
  }

  .navbar__mobile .nav-menu .nav-link {
    text-decoration: none;
    color: var(--white-clr);
  }
  .navbar__mobile .nav-link:hover {
    color: #f5b400;
  }

  .navbar__mobile .has-submenu .nav-link:hover .icon-arrow {
    content: url("flèche_jaune.svg");
  }

  .burger-menu {
    display: flex;
    align-items: center;
    height: 100%;
    margin: auto 0;
    cursor: pointer;
  }

  .burger-menu.active {
    content: url("images/close-menu.svg");
    transition: 0.3s ease;
  }

  .section-container {
    text-align: center;
    margin: 50px auto;
    border: 1px solid blue;
  }

  .hero-section__hero-content {
    gap: 20px;
  }

  /* Project caroussel */
  .hero-section__project-carousel {
    gap: 20px;
    margin-top: 30px;
    position: relative;
  }

  .hero-section__project-carousel .swiper-slide {
    max-width: 333px;
    height: 287.5px;
    transition: 0.3s;
    margin: auto;
    width: 100%;
    border-radius: 10px;
    max-height: 264.7px;
  }

  /* ---------CLIENTS SECTION ------------ */
  .clients-section__description {
    font-size: 12px;
    letter-spacing: 0.14px;
  }
  .clients-section__logos {
    margin-top: 20px;
  }

  .hero-section__hero-content__description {
    font-size: 14px;
    max-width: 440px;
    width: 100%;
  }
  .hero-section__project-carousel .swiper-slide {
    max-width: 400px;
    height: 340px;
    transition: 0.3s;
    margin: auto;
  }
  .statistic-section__description__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .statistic-section__description__body {
    font-size: 14px;
    display: block;
  }
  .statistic-section__description__body__left {
    margin-bottom: 20px;
  }
  .statistic-section__description__body__right {
    margin-bottom: 20px;
  }
  .statistic-section__description {
    margin-bottom: 40px;
  }
  .statistic-section__values {
    display: block;
    margin-bottom: 40px;
  }
  .statistic-section__value {
    gap: 14px;
  }
  .statistic-section__value span {
    font-weight: 300;
    font-size: 100px;
  }
  .statistic-section__value p {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
  }
  /* --------SECTIION EXPERTISES  ---------- */
  .parts-desktop {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
  }
  .swiper-mobile {
    max-height: 1000px;
    overflow: visible;
    opacity: 1;
  }
  .swiper-mobile .swiper-slide {
    max-height: 155.4px;
  }

  .expertises__part1 {
    display: block;
    margin: 0;
  }
  .expertises__intro {
    margin: 0 0 20px 0;
    line-height: 28px;
  }
  .expertises__why-chenocom {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
    gap: 20px;
    font-size: 14px;
    line-height: 21px;
  }
  .expertises__why-chenocom__yellow {
    margin: 0;
  }
  .numero {
    font-weight: 600;
    font-size: 29.6px;
    line-height: 30.95px;
  }
  .title,
  .expertises__website .title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19.73px;
    max-width: 217px;
  }
  .description,
  .expertises__website .description {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
  }
  .expertises__why-chenocom__yellow {
    font-weight: 700;
    font-size: 14px;
  }
  .expertises__website,
  .expertises__digitale,
  .expertises__mobile {
    padding: 5% 6%;
    border-radius: 7.4px;
  }
  .expertises__website::before {
    border-radius: 7.4px;
  }

  /* Mobile Swiper Container */

  /* --------- SLOGON SECTION--------- */
  .slogon-section__list {
    font-size: 55.56px;
  }
  .slogon-section__white {
    -webkit-text-stroke: 1.01px white;
  }

  /* -------PRESENTATION--------- */
  .thumbnail {
    max-width: 100%;
  }
  .expertises__presentation {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
  #openPopup {
    width: 100%;
    border-radius: 8px;
  }
  .play-button {
    width: 35px;
    height: 35px;
  }

  .expertises__presentation__stats {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
  /* -----------PROJECT SHOWCASES------------ */
  .projects-showcase__intro {
    padding-bottom: 0;
  }
  .projects-showcase__intro__slogon {
    font-weight: 570;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0;
  }
  /* ----------- SERVICES ------------------- */
  .services__intro {
    display: block;
    text-align: left;
  }
  .services__intro__title {
    margin-left: 0;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.5px;
  }
  .services__intro__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
  .services__techniques {
    margin-top: 20px;
  }
  .services__techniques__technique {
    padding: 19.44px 0;
    width: 150px;
    border-radius: 10.08px;
  }
  .services__techniques__technique img {
    width: 35.29px;
    height: 35.29px;
  }
  .testimonials__image {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
  /* -------------INSIGHTS------------- */
  .insights-container {
    margin: 32px auto;
  }
  .insights__intro {
    margin-bottom: 30px;
    display: block;
  }
  .insights__intro__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
    text-align: left;
  }
  .insights__intro__view-all-articles {
    font-size: 13.33px;
    line-height: 56.67px;
    margin-bottom: 30px;
    text-align: left;
  }
  .insights__body {
    display: flex;
    gap: 6.48px;
  }
  .insights__body__slide__image {
    width: 290px;
    height: 163.45px;
    border-radius: 7.53px;
  }
  .insights__body__slide__tags-time {
    margin-top: 9.79px;
    margin-bottom: 18.08px;
    max-width: 290px;
  }
  .insights__body__slide__tags {
    gap: 10px;
  }
  .insights__body__slide__time {
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
  }
  .insights__body__slide__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 4px;
  }
  .insights__body__slide__description {
    font-weight: 400;
    font-size: 12px;
    line-height: 19.58px;
  }
  /* ----------PRE-FOOTER-------------- */

  .pre-footer__container {
    flex-direction: column;
    gap: 8px;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .pre-footer__container__social-media {
    width: 101px;
    justify-content: space-between;
    margin-inline: auto;
    gap: 0;
  }
  .pre-footer__icon {
    width: 11.08px;
    height: 11.08px;
  }
  /* -----------------Footer------------ */
  .footer__bottom__desktop {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0;
  }
  .footer__bottom__mobile {
    max-height: 1000px;
    overflow: visible;
    opacity: 1;
  }
  .footer__column__title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0;
  }
  .footer__column {
    margin-bottom: 20px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .footer__column ul li,
  .footer__column li a {
    font-weight: 400;
    font-size: 12px;
    line-height: 190%;
  }

  .newsletter-form {
    margin: auto;
    max-width: 80%;
    justify-content: space-between;
  }

  .newsletter-form__email {
    width: 85%;
  }
  .footer__content {
    display: block;
    text-align: center;
    margin: 40px auto;
  }

  .footer__bottom__mobile {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: var(--white-clr);
    padding: 40px 0 50px 0;
    border-top: 2px solid #b2b2b212;
  }

  .footer__bottom__mobile__security {
    display: flex;
    flex-direction: column;
    gap: 9px;
    text-align: center;
  }
}
